.DS_Store
node_modules
/dist
/as-frontend/node_modules
/as-frontend/dist
backend/server-cool-blank
backend/server-partial_copy
backend/server.backup
backend/.firebase
backend/.firebaserc
backend/firebase.json
frontend/.firebase
frontend/.firebaserc
frontend/firebase.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
